{% extends "plantilla.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card card-info mx-4 my-4">
        <div class="card-header"> 
            <h1 class="card-title">EDITAR DATOS PERSONALES</h1> 
        </div>
        <div class="card-body"> 
            <form action="" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form | crispy}}   
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-secondary btn-round"><i class="nc-icon nc-minimal-left mr-2"></i><a href="{% url 'perfilalumno' %}" style="color: white;"> Cancelar</a></button>
                        <button type="submit" class="btn btn-primary btn-round"><i class="nc-icon nc-refresh-69 mr-2"></i> Actualizar </button>
                    </div>
                </div>    
            </form>
        </div> 
    </div>
</div>
{% endblock%}