<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- meta tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates,Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"/>
    
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{% static 'loginmodern/css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{% static 'loginmodern/css/fontawesome-all.css' %}" rel="stylesheet">
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- /google fonts-->
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}"> 
</head>


<body>
    {% load crispy_forms_tags %}
    <div class="container mt-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif%}
        <h1>Trámite Documentario - UNT</h1>
        <div class=" w3l-register-form">
            <h2><b>REGISTRO DE DATOS PERSONALES</b></h2>
            <form method="POST" action="" class="needs-validation" novalidate>
                {% csrf_token %}
               <div class="form-row">
                        <div class="col-md-4 mb-3">
                            {{ form.nombres | as_crispy_field }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.apellidos | as_crispy_field }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.codigo | as_crispy_field }}
                        </div>
                </div>
                <div class="form-row">
                        <div class="col-md-4 mb-3">
                            {{ form.dni | as_crispy_field }}
                          </div>
                          <div class="col-md-4 mb-3">
                            {{ form.direccion | as_crispy_field }}
                          </div>
                          <div class="col-md-4 mb-3">
                            {{ form.email | as_crispy_field }}
                          </div>
                </div>
                <div class="form-row">
                        <div class="col-md-4 mb-3">
                            {{ form.telefono | as_crispy_field }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.facultad | as_crispy_field }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.escuela | as_crispy_field }}
                        </div>
                </div>
                <h2><b>REGISTRO DE DATOS DE USUARIO</b></h2>
                <br><div class="form-row">
                        <div class="col-md-4 mb-3">
                            {{ form.username | as_crispy_field }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.password1 | as_crispy_field }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.password2 | as_crispy_field }}
                        </div>
                    </div>
                <br><div class="form-row" hidden>
                        <div class="col-md-4 mb-3">
                            {{ form.estado | as_crispy_field }}
                        </div>
                    </div>
                <center>
                    <hr/> 
                        <button class="btn btn-success btn-block" type="submit" style="width: 30%;">Registrar </button> 
                    <hr/>
                </center>
            </form>
        </div>
        <footer>
            <p class="copyright-agileinfo"> 2021 &copy; Sistema de Trámite Documentario - UNT. </p>
        </footer>
    </div>
<script src="https://code.jquery.com/jquery3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>

</html>