{% extends "plantilla.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card card-info mx-4 my-4">
        <div class="card-header"> 
            <h1 class="card-title">CREAR FUT</h1> 
        </div>
        <div class="card-body"> 
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{form | crispy}}
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <a href="{% url 'listarfuts' %}" class="btn btn-secondary btn-round"> <i class="nc-icon nc-minimal-left mr-2"></i>Cancelar</a>
                        <button type="submit" class="btn btn-primary btn-round"><i class="fa fa-save mr-2"></i> Guardar </button>
                    </div>
                </div> 
            </form>
        </div> 
    </div>
</div>
{% endblock%}