{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header row">
            <div class="col-11">
                <h2 class="modal-title"><center> <b>Modelo de Requisitos</b>  </center></h2>
                <h2></h2>
                <p ><center>Verifica la forma correcta de enviar los requisitos y evita problemas.</center> </p>
            </div>
            
            <div class="col-1">
                <button class="close" type="button" data-dismiss= "modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>                
                </button>
            </div>           
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="card card-outline card-info mt-3">
                    <div class="card-body">   
                        <div class="table-responsive">             
                            <table class="table mt-2">
                                <table id="tablasubfamilias" class="table table-striped mt-4" style="width:100%">
                                    <thead class="bg-black text-white">
                                        <tr>
                                            <th>Requisito</th>                            
                                            <th>Descripción</th>
                                            <th>Referencia</th>                                 
                                        </tr>
                                    </thead> 
                                        <tr>                   
                                            <td style="background-color: black; color: aliceblue;"> <b>Foto</b> </td>                               
                                            <td>La foto debe ser actual, a color, con fondo blanco y debe incluir el logotipo de la UNT. El solicitante debe estar con terno. El formato debe ser JPG.</td>                    
                                            <td style="width: 50%;">     
                                                <p style="color: green;" > <b> <u>Correcto</u> </b> </p>
                                                <img style="width: 350px;" src="{% static '/requisitos/foto_demo.jpg' %}">
                                                <p style="color: red;" > <b> <u>Incorrecto</u> </b> </p>
                                                <img style="width: 350px;" src="{% static '/requisitos/fotos_mal.jpg' %}">
                            
                                        </td>                        
                                        </tr> <tr>                   
                                            <td style="background-color: black; color: aliceblue;"> <b>Firma</b></td>                    
                                            <td >La firma debe tener fondo blanco, y estar en formato JPG.</td>                    
                                            <td style="width: 50%;">                               
                                                <img style="height: 150px;" src="{% static '/requisitos/firma.jpg' %}">
                            
                                        </td>                        
                                        </tr> <tr>                   
                                            <td style="background-color: black; color: aliceblue;"> <b>Voucher de pago</b></td>                    
                                            <td>El voucher debe tener con el nombre de escuela, nro de matricula, nombre y apellidos del solicitante. En formato PDF.</td>                    
                                            <td style="width: 50%;">                               
                                                <img style="height: 400px;" src="{% static '/requisitos/voucher.jpg' %}">
                            
                                        </td>                        
                                        </tr> 
                                    
                                </table> 
                            </table>     
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>