{% extends "plantilla.html" %}
{% block content %}
<div class="container">
    <div class="card card-outline card-info mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h1 class="card-title"> <b>Bandeja de Entrada</b>  </h1>
                </div>               
            </div>
        </div>   
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <table class="table mt-2">
                        <table id="tablasubfamilias" class="table table- striped mt4" style="width:100%">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th><center>#</center></th> 
                                    <th><center>ALUMNO</center></th>
                                    <th><center>FECHA TRÁMITE</center></th>                    
                                    <th><center>TRÁMITE</center></th>                        
                                    <th><center>DOCUMENTOS PRESENTADOS</center></th>  
                                    <th><center>ESTADO</center></th>
        
                                </tr>
                            </thead> 
                            {% if tramites %}
                                {% for itemtramites in tramites %} 
                                <tr> 
                                    <td><center>{{ itemtramites.id }}</center></td>
                                    <td><center>{{ itemtramites.alumnos.apellidos }} {{ itemtramites.alumnos.nombres }}</center></td>
                                    <td><center>{{ itemtramites.fechatram }}</center></td>
                                    <td><center>{{ itemtramites.tipoTramite.tipoTramite }}</center></td>                    
                                    <td>
                                        {% if itemtramites.tipoTramite.abreviatura_tipoTramite == "RM" %}    
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito1.url }}" ruta="{{ itemtramites.file_tramite.requisito1 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 1</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito2.url }}" ruta="{{ itemtramites.file_tramite.requisito2 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 2</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito3.url }}" ruta="{{ itemtramites.file_tramite.requisito3 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 3</button>
                                        {% elif itemtramites.tipoTramite.abreviatura_tipoTramite == "MC" or itemtramites.tipoTramite.abreviatura_tipoTramite == "ACPP" or itemtramites.tipoTramite.abreviatura_tipoTramite == "ACCC" or itemtramites.tipoTramite.abreviatura_tipoTramite == "TCV"  %}     
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito1.url }}" ruta="{{ itemtramites.file_tramite.requisito1 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 1</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito2.url }}" ruta="{{ itemtramites.file_tramite.requisito2 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 2</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito3.url }}" ruta="{{ itemtramites.file_tramite.requisito3 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 3</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito4.url }}" ruta="{{ itemtramites.file_tramite.requisito4 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 4</button>
                                       {% elif itemtramites.tipoTramite.abreviatura_tipoTramite == "TOG" %}     
                                          <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito1.url }}" ruta="{{ itemtramites.file_tramite.requisito1 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 1</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito2.url }}" ruta="{{ itemtramites.file_tramite.requisito2 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 2</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito3.url }}" ruta="{{ itemtramites.file_tramite.requisito3 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 3</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito4.url }}" ruta="{{ itemtramites.file_tramite.requisito4 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 4</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito5.url }}" ruta="{{ itemtramites.file_tramite.requisito5 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 5</button>
                                        {% elif itemtramites.tipoTramite.abreviatura_tipoTramite == "ES" %}     
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito1.url }}" ruta="{{ itemtramites.file_tramite.requisito1 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 1</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito2.url }}" ruta="{{ itemtramites.file_tramite.requisito2 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 2</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito3.url }}" ruta="{{ itemtramites.file_tramite.requisito3 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 3</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito4.url }}" ruta="{{ itemtramites.file_tramite.requisito4 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 4</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito5.url }}" ruta="{{ itemtramites.file_tramite.requisito5 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 5</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito6.url }}" ruta="{{ itemtramites.file_tramite.requisito6 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 6</button>
                                        {% elif itemtramites.tipoTramite.abreviatura_tipoTramite == "TOT" %}     
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito1.url }}" ruta="{{ itemtramites.file_tramite.requisito1 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 1</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito2.url }}" ruta="{{ itemtramites.file_tramite.requisito2 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 2</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito3.url }}" ruta="{{ itemtramites.file_tramite.requisito3 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 3</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito4.url }}" ruta="{{ itemtramites.file_tramite.requisito4 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 4</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito5.url }}" ruta="{{ itemtramites.file_tramite.requisito5 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 5</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito6.url }}" ruta="{{ itemtramites.file_tramite.requisito6 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 6</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito7.url }}" ruta="{{ itemtramites.file_tramite.requisito7 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 7</button>
                                        <button type="button" onclick="downloadURI(this)" url="{{ itemtramites.file_tramite.requisito8.url }}" ruta="{{ itemtramites.file_tramite.requisito8 }}" class="btn btn-block btn-primary"><i class="fas fa-download mr-2"></i>Descargar Requisito 8</button>
                                    </td>  
                                    {% else %}
                                    {% endif %} 
                                    <!-- botón del visado -->  
                                    {% if itemtramites.estado == "CREADO" %}
                                        <td><center>
                                            <a href="/verificado/{{itemtramites.id}}" class='btn btn-sm btn-success btn-add'><i class='fas fa-check'></i>Verificar</a>
                                            <a href="/rechazado/{{itemtramites.id}}" class='btn btn-sm btn-danger btn-add'><i class='fas fa-times'></i>Rechazar</a>
                                        </center></td>                    
                                    {% elif itemtramites.estado == "VERIFICADO" %}
                                        <td><center>
                                            <p style="color: green;"> <b> VERIFICADO </b> </p>
                                        </center> </td>    
                                    {% elif itemtramites.estado == "RECHAZADO" %}
                                        <td><center>                                             
                                            <p style="color: red;"> <b> RECHAZADO </b> </p>
                                        </center> </td>   
                                    {% elif itemtramites.estado == "VISADO" %}
                                        <td><center>
                                            <p style="color: blue;"> <b> VISADO </b> </p>
                                        </center> </td>             
                                    {% else %}
        
                                    {% endif%}
                                    
                                </tr> 
                                {% endfor %}
                            {% else %}
                            <tr style="text-align: center;"><!--   si no hay registro , no muestren datos ps -->
                                <td colspan="3">
                                    <p>No hay Registros</p>
                                </td> 
                            </tr>
                            {% endif %}
                        </table>
                    </table>

                </div>
            </div>
           
        </div>
    </div>
</div>
  
{% endblock%}

{% block js %}
<script type="text/javascript" >
    function downloadURI(boton) 
    {
        ruta=boton.getAttribute("ruta")
        url=boton.getAttribute("url")
        nombre=ruta.split('tramite/')[1];
        var link = document.createElement("a");
        link.download = nombre;
        link.href = url;
        link.click();
    }
</script>
{% endblock %}